.education-content {
    margin-top: 100px;


}

.education-heading {
    font-size: 32px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 0.5s;
}

.education-container {
    padding: 20px
}

.education-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.degree {
    color: white;
    width: 25vw;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    margin-right: 15vw;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 0.5s;
    word-break: normal;
    /* line-break: anywhere; */
}


.school {
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.year {
    font-size: 16px;
    color: white;
    font-weight: normal;
    flex-wrap: wrap;

}

.location {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 5px;
    font-weight: normal;
}

.school,
.year,
.location {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.education-heading.in-view {
    opacity: 1;
    transform: translateX(0);
    /* animation: slidtoX 0.5s forwards; */
}

.degree.in-view {
    opacity: 1;
    transform: translateX(0);
    /* animation: slidtoX 0.5s forwards; */
}


.school.in-view,
.year.in-view,
.location.in-view {
    opacity: 1;
    transform: translateX(0);
}

/* 
@keyframes slidtoX {
    from {
        opacity: 0;
        transform: translateX(-100);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
} */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .education-content {
        margin-top: 40px;
    }

    .education-heading {
        font-size: 24px;
    }

    .education-container {
        padding: 10px;
    }

    .education-item {
        display: block;
        margin-bottom: 40px;
    }

    .degree,
    .year,
    .school,
    .location {
        padding-left: 20px;
        font-size: 16px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: left;
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.5s, transform 0.5s;
    }

    .year,
    .location {
        font-size: 12px;
        font-weight: 300;
    }


    .school-content {
        width: 100%;
    }

    .degree.in-view,
    .year.in-view,
    .school.in-view,
    .location.in-view {
        opacity: 1;
        transform: translateX(0);
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
    .degree {
        font-size: 16px;
        width: 25vw;
        margin-right: 8vw;
    }

    .school {
        font-size: 16px;
    }

    .year {
        font-size: 14px;
    }

    .location {
        font-size: 14px;
    }
}



/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .degree {

        margin-right: 10vw;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {}