.education-content {
    margin-top: 100px;
}

.education-heading {
    font-size: 32px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 0.5s;
}

.education-container {
    padding-top: 50px;
}

.education-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.year {
    color: white;
    width: 25vw;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    margin-right: 15vw;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 0.5s;
}

.school-content {
    color: white;
}

.degree {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.school {
    font-size: 18px;
    color: rgb(235, 235, 235);
    /* padding-top: 10px; */
    font-weight: normal;
    display: block;
}

.location {
    color: rgb(195, 195, 195);
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.degree,
.school,
.location {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.education-heading.in-view {
    opacity: 1;
    transform: translateX(0);
    /* animation: slidtoX 0.5s forwards; */
}

.year.in-view {
    opacity: 1;
    transform: translateX(0);
    /* animation: slidtoX 0.5s forwards; */
}


.degree.in-view,
.school.in-view,
.location.in-view {
    opacity: 1;
    transform: translateX(0);
}
/* 
@keyframes slidtoX {
    from {
        opacity: 0;
        transform: translateX(-100);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
} */