.project-content {
    margin-top: 80px;
}


.project-heading {
    color: white;
    font-size: 32px;
    font-weight: 600;
    /* opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s; */
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 5vw;
    padding: 4vw;
    /* justify-content: end; */

}

.card {
    margin: auto;
    height: 100%;
    transition: transform 0.5s;
    /* opacity: 0;
    transform: translateY(100px);
    transition: transform 0.5s opacity 0.5s; */
}




.card:hover {
    transform: scale(1.1);
}

/* 
@keyframes slidIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cardSlideIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-heading.in-view {
    opacity: 1;
    transform: translateX(0);
    animation: slidIn 0.2s forwards;
}

.card.in-view {
    opacity: 1;
    transform: translateY(0);
    animation: cardSlideIn 0.5s forwards;
} */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 35px;

    }

    .project-heading {
        font-size: 20px;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {}