.tech-content {
    margin-top: 150px;
}

.tech-content .tech-heading {
    font-size: 32px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 0.5s;
}

.tech-content .tech-container {
    margin-top: 40px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 0.5s;
}

.tech-icon {
    margin: 10px;
    animation: float 3s linear infinite;
}

.tech-icon-wrapper {
    transition: all 0.2s;
}

.tech-icon-wrapper:hover {
    cursor: pointer;
    transform: scale(1.3);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.tech-heading.in-view {
    opacity: 1;
    transform: translateX(0);
}

.tech-container.in-view {
    opacity: 1;
    transform: translateX(0);
}