@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #011627;

    position: relative;
    height: 100vh;
    font-family: 'JetBrains Mono', Courier, monospace;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -999;
}

/* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(100px);
    z-index: -2;

} */

.content {
    padding-top: 12vh;
    padding-left: 6vw;
    width: 80%;
    margin: 0 auto;
    z-index: 1;

}

.intro p {
    color: white;
    font-size: 18px;
}

#hi-intro {
    color: white;
    font-size: 17px;
}

#name {
    font-size: 68px;
    font-weight: bold;
    color: white;
    display: inline-block;
    transition: all 0.2s;
}

#name:hover {
    font-size: 75px;
}

#roles {
    font-weight: 500;
    font-size: 32px;
    color: white;
}

#description {
    padding-top: 50px;
    width: 450px;
}

.cursor {
    background-color: transparent;
    border: white 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out, width 0.2s, height 0.2s;
    z-index: 9999;

}

.cursor.text {
    background-color: white;
    width: 100px;
    height: 100px;
}

.left-icons {
    position: absolute;
    bottom: 1vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.left-icons .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.left-icons .icon {
    color: #607B96;
    font-size: 23px;
    padding-bottom: 7px;
    transition: all 0.2s;
}

.left-icons .icon:hover {
    color: white;
    transform: scale(1.4);
    cursor: pointer;
}

.left-icons .line {
    padding-top: 5px;
    width: 2px;
    height: 150px;
    background-color: #607B96;
}

.right-icons {
    position: absolute;
    bottom: 1vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.right-icons .email {
    font-weight: 300;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    color: #607B96;
    transform: rotate(90deg);
    transition: all 0.2s;
}

.right-icons .email:hover {
    color: white;
    font-size: 18px;
    cursor: pointer;
    /* font-weight: 700; */
}

.right-icons .line {
    margin-top: 150px;
    width: 2px;
    height: 35vh;
    background-color: #607B96;
}

/* .nav-content {

    position: sticky;
    top: 5vh;
    right: 5vw;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.nav-ul {
    list-style: none;
    display: flex;
    color: white;
}

.nav-li {
    font-weight: 300;
    padding-left: 30px;
    font-size: 16px;
    transition: all 0.2s;
}

.nav-li:hover {
    font-weight: 700;
    transform: scale(1.25);
    cursor: pointer;
} */


.nav-content {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #011627;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 50px;
    padding-bottom: 10px;

}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    color: white;
}

.nav-li {
    font-weight: 300;
    padding-left: 30px;
    font-size: 16px;
    transition: all 0.2s;
}

.nav-li:hover {
    font-weight: 700;
    transform: scale(1.25);
    cursor: pointer;
}



.left-icons,
.right-icons {
    position: fixed;
    z-index: 1;
}